@use "variables" as *;

footer {
    background-color: $color-dark-gray;
    color: $color-light-gray;
    text-align: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-family: $font-paragraphs;
        font-weight: 400;
        margin: 0;
        margin-top: 0.5rem;
    }

    // Estilos responsivos
    @media (max-width: 600px) {
        padding: 1rem;
        font-size: 1rem;

        p {
            font-size: 0.875rem;
        }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        padding: 1.25rem 1.5rem;
        font-size: 1.1rem;

        p {
            font-size: 1rem;
        }
    }
}
